.stories {
  .stories-side-bar-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    .stories-grid {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      a {
        text-decoration: none;
        color: black;
      }
      .story {
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.089);
        text-align: justify;
        // height: 300px;
        margin: 10px;
        p {
        font-size: 12px;
      }
        .activities {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
      .img {
        width: 300px;
        height: 220px;
      }
    }
  }
}
.side-bar {
  .latest-grid {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    .story {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-flow: column;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.267);
      padding: 10px;
      h6 {
        font-size: 8px;
      }
      
      .preview-img {
        width: 50px;
        height: 40px;
      }
      .sm-p {
        font-size: 8px;
      }
    }
  }
}
